<!-- COPY-PASTED FOOTER FROM DESIGN-->
<footer>
  <div class="footer">

    <div class="container">
      <div class="footer-wrapper">
        <div class="row">


          <!-- Footer Col. -->
          <div class="col-md-3 col-sm-3 footer-col">
            <div class="footer-content">
              <div class="footer-content-logo">
                <a href="http://www.onehippo.com" target="_blank">
                  <img src="<@hst.webfile path="/images/logo-hippo.png"/>" alt="onehippo.com" />
                </a>
              </div>
            </div>
          </div>
          <!-- //Footer Col.// -->


          <!-- Footer Col. -->
          <div class="col-md-3 col-sm-3 footer-col">
            <div class="footer-title">SERVICE</div>
            <div class="footer-content footer-recent-tweets-container">
              <ul class="footer-category-list">
                <li><a href="rss">RSS</a></li>
              </ul>
            </div>
          </div>
          <!-- //Footer Col.// -->


          <!-- Footer Col. -->
          <div class="col-md-3 col-sm-3 footer-col">
            <div class="footer-title">SECTIONS</div>
            <div class="footer-content">
              <ul class="footer-category-list">
                <li><a href="news.html">News</a></li>
                <li><a href="events.html">Events</a></li>
                <li><a href="blogs.html">Blogs</a></li>
                <li><a href="products.html">Products</a></li>
                <li><a href="about.html">About</a></li>
              </ul>
            </div>
          </div>
          <!-- //Footer Col.// -->


          <!-- Footer Col. -->
        </div>
      </div>

    </div>
    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 center-text">
            <div class="copyright-text">Hippo &copy; 2010-2015</div>
          </div>

        </div>
      </div>
    </div>
  </div>
</footer>

<!-- ORIGINAL FREEMARKER CODE -->
<!--
<#include "../include/imports.ftl">

<@hst.setBundle basename="essentials.global"/>
<div>
  <@hst.include ref="container"/>
</div>
<hr/>
<div class="text-center">
  <sub><@fmt.message key="footer.text" var="footer"/>${footer?html}</sub>
</div>
-->
